@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #a31e22;
  /* --blue: #7c181c; */
  --white: white;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --backgound: #10191e;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  /* background: grey; */
  background: #10191e;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 8px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

/* Title */
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 25px;
  pointer-events: none;
}

.navigation ul li:nth-child(1) .title {
  margin-top: 5px;
}
.navigation ul li:nth-child(1) .icon {
  min-height: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon {
  padding: 0 10px;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-height: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* Inside Curves */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: -50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  bottom: -50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

div.Details_Form
{
    position:absolute;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #10191e;
    padding: 30px;

    box-shadow: 0 30px 50px -30px #af1f25;
}
div.Details_Form div.myform{

    width: 500px;
}

div.Details_Form div.myform h2 {
    margin-left:165px;
    color: #af2023;
    margin-bottom: 20px;
}


div.Details_Form div.myform option{
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius:0;
    width: 90%;
    border-bottom: 2px solid #af2023;
    margin-bottom: 10px;
    padding: 7px 0;
    font-size: 14px; 
    color: white;
    text-align: center;
}
div.Details_Form div.myform select{
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius:0;
  background-color: #10191e;
  width: 90%;
  margin-bottom: 10px;
  padding: 7px 0;
  text-align: center;
  font-size: 14px; 
  color: white;
}
div.Details_Form div.myform button {
    color: white;
    border: none;
    outline: none;
    background-color: #af2023;
    border-radius:4px;
    font-size: 15px;
    padding:5px 40px;
    font-weight: 500px;
    margin-left: 180px;
    margin-bottom: 300px;
    text-decoration: none;
    transition: 1s;


}
div.Details_Form div.myform button:hover{
    background-color: #af1f25;
    box-shadow: 0 0 10px #af1f25,
                0 0 20px #af1f25,
                0 0 50px #af1f25,
                0 0 80px #af1f25;
} 
div.Details_Form div.image img{
  margin-top: 300px;
    width: 150px;
}
